{% extends 'BackBundle::base.html.twig' %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Editar siembra</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <form id="siembra_form" action="{{url('siembra_update', { 'id': siembra.id })}}" method="post">
                            {% include 'BackBundle:Siembra:form.html.twig' with {'form':form } %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}