/web/bundles/
/web/uploads/
/web/css/
/web/fonts/
/web/images/
/web/js/
/web/assets/vendor/		

/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions/.gitkeep

/app/mails
/app/config/parameters.yml
/app/config/parameters.ini		
/app/logs/*
/app/bootstrap.php.cache
/app/phpunit.xml		

/vendor/
/build/

/bin/*		
!bin/console		
!bin/symfony_requirements		

/nbproject/private/
/nbproject/

/phpunit.xml