{% extends 'BackBundle::base.html.twig' %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            Aguante Jordbruk carajo!
        </section>
    </section>
{% endblock %}
