{% extends 'BackBundle::base.html.twig' %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Reportes</h3>

            <div id="mensaje" style="display: none;">
                <div class="row mt">
                    <div class="col-lg-12">
                        <div class="content-panel">
                            <div class="panel-body text-center">
                                <span> Todavía no cargaste datos suficientes para generar reportes. </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="graficos">
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Terreno cultivado actual</h4>
                            <div class="panel-body text-center">
                                <div id="actual" class="graph"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Terreno cultivado histórico</h4>
                            <div class="panel-body text-center">
                                <div id="historico" class="graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Rinde promedio último año</h4>
                            <div class="panel-body text-center">
                                <div id="rinde" class="graph"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Beneficios anuales</h4>
                            <div class="panel-body text-center">
                                <div id="beneficios" class="graph"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>          
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        "bundles/back/js/morris-conf.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}