{% extends 'BackBundle::base.html.twig' %}

{% block main %}
    {#<section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        Aguante Jordbruk carajo!
                    </div>
                </div>
            </div>
        </section>
    </section>#}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Reportes</h3>
            <!-- page start-->
            <div class="tab-pane" id="chartjs">
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Reporte 1</h4>
                            <div class="panel-body text-center">
                                <canvas id="doughnut" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Reporte 2</h4>
                            <div class="panel-body text-center">
                                <canvas id="line" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Reporte 3</h4>
                            <div class="panel-body text-center">
                                <canvas id="polarArea" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Reporte 4</h4>
                            <div class="panel-body text-center">
                                <canvas id="pie" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>          
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/back/js/jquery-2.2.3.min.js"
        "bundles/back/js/Chart.js"
        "bundles/back/js/chartjs-conf.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    {% endjavascripts %}
{% endblock %}