{% extends '::base.html.twig' %}

{% block body %}
    <section class="container">
        <h4 class="header up">Editar cosecha</h4>
        <hr>
        <div class="adresses col-sm-6"> 
            <form id="cosecha_form" action="{{url('cosecha_update', { 'id': cosecha.id })}}" method="post">                
                {% include 'BackBundle:Cosecha:form.html.twig' with {'form':form } %}                
            </form>
        </div>
    </section>
{% endblock %}
