{% extends 'BackBundle::base.html.twig' %}

{% block main %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Nueva cosecha</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <form id="cosecha_form" action="{{ path('cosecha_create') }}" method="post">                
                            {% include 'BackBundle:Cosecha:form.html.twig' with {'form':form } %}                
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}